html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
html,body{height:100%;width:100%;overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif; color:#444;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th {font-weight:normal; font-style:normal; font-family:Arial, Helvetica, sans-serif; color:#fff;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none; outline:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane, .tundra .dijitBorderContainer, .tundra .dijitSplitterV, .tundra .dijitGutterV, .tundra .dijitSplitContainer-child, .tundra .dijitBorderContainer-child{
	background:none;
	padding:0;
	border:none;
}

a{
	color:#000;
}

h1{
	font-size:1.4em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#mainWindow{
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
}

#banner{
	height:115px;
	width:100%;
	background-color:#444;
}

#headerArea{
	height:115px;
	padding:20px 25px 0px 25px;
}

#title{
	padding-bottom:10px;
	white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}

#subtitle{ 
	color:#fff;
    overflow: hidden;  
}

#logoArea{
	width:150px !important;
	overflow:hidden;
}

#social,#logo{
	float:right;
}

#social{
	padding-bottom:20px;
}

#smLink{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:0.82em;
	text-decoration:none;
	outline:none;
}

#smLink:hover{
	text-decoration:underline;
}

#timeSliderBlind{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background-color:#444;
	z-index:1000
}

#timeSliderCon{
	width:80%;
	margin:auto;
}

.timeControl{
	display:none;
	height:25px;
	cursor:pointer;
}

#tabArea{
	height:100%;
	width:50px;
	padding-left:0px;
	background-color:#7c7c7c;
	overflow:visible;
}

.tab{
	background:#7c7c7c;
	height:50px;
	width:50px;
	float:left;
	white-space:nowrap;
	cursor:pointer;
	color:#b6b6b6;
	border-bottom:thin;
	border-top:thin;
	border-bottom-color:#FFFFFF;
	border-top-color:#FFFFFF;
	border-top-style:solid;
	border-bottom-style:solid;
	margin-top:-1px;
	position:relative;
}

.tab:hover{
	background-color:#fe0000;
}

.tab img {
	left:50px;
	top:15px;
	position:absolute;
	visibility:hidden
}

.tabText{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
	overflow:hidden;
	padding:3px 5px 0px 5px;
	text-align:center;
}

.selected{
	background-color:#fe0000;
	color:#FFFFFF;
}

#leftPane {
    width:30%;
	min-width:400px;
	height:100%;
	font-size:0.9em;
}
	  
#descriptionPanel {
	height:45%;
	overflow-x:hidden;
	overflow-y:auto;
}

.description{
	display:none;
	padding:20px;
}

.mapTitle{
	display:none;
	padding:20px 20px 10px 20px;
	color:#444;
	font-weight:bold;
}

#legendHeader {
	background:#444;
    padding:5px 10px 5px 10px;
}
	  
#legendPanel{
	position:relative;
	overflow:auto;
}
	  
.legend {
	display:none;
	padding:20px;
	font-family:Arial, Helvetica, sans-serif;
}

.map{
	position:absolute;
	top:0;
	height:100%;
	width:100%;
}

#mapBlind{
	background-color:#fff;
	position:relative;
	height:100%;
	width:100%;
	z-index:1000;
}

#map0{
	display:block;
}

#timeDisplay{
	position:absolute;
	top: 5%;
	background-color:#444;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;
	z-index:100;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#loadingCon{
	position:absolute;
	z-index:99;
	width:100%;
    top:40%;
	text-align:center;
}
		
#loadingDialog{
	margin:auto;
	background-color:#dadada;
	width:300px	
}
		
#loadingHeader{
	background-color:#444;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	width:300px;
}
		
#loading{
	padding-top:10px;
}
		
#loadingImg{
	margin-top:5px;
	padding-bottom:10px;
}

g,v{
	cursor:pointer;
}

.dijitRuleMark{
	border: 1px solid #848484;
}

.tundra .dijitSliderImageHandleH{
	z-index:10;
}

.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton{
	display:none;
}

.slider {
	width:100%;
	height:250px;
	overflow:hidden;
	margin:auto;
	position:relative;
}

.slider img {
	position:absolute;
	max-height:100%;
	max-width:100%;
}

#legendCon{
	position:absolute;
	width:200px !important;
	margin-left:100px;
	z-index:100;
}

#legendDiv{
	display:none;
	background:#fff;
	max-height:450px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
}


#legendToggle{
	position:relative;
	background:#7c7c7c;
	margin-top:-1px;
	width:200px;
	.height:28px;
	cursor:pointer;
	z-index:100;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

#legTogText{
	position:relative;
	margin:auto;
	margin-left:2px;
	.margin-top:0px;
	padding:5px;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
	  
#legendImg {
	margin-bottom:-5px;
}